# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log

# Django
db.sqlite3
media/
staticfiles/
local_settings.py

# Envs
.env
.venv/
venv/
ENV/

# IDE / OS
.vscode/
.idea/
.DS_Store

# Node (if any)
node_modules/
